:root{
                --primary-active:#2884EF;
                --primary: #3E97FF;
                --text: #FFFFFF;
                --gray-200:#F1F1F2;
                --gray-300:#E1E3EA;
                --gray-900:#181C32;
}
*{
  font-family: Poppins;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 30px;
}
.Section{
  padding: 20px;
  width: 25%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  gap: 20px;
  border-radius: 8px;
}

.btn{
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  /* width: 120px; */
}
.small{
  font-size: 14px;
  padding: 8px 16px;
}
.medium{
  font-size: 14px;
  padding: 10px 18px;
}
.large{
  font-size: 16px;
  padding: 8px 16px;
}
.extralarge{
  font-size: 16px;
  padding: 10px 18px;
}

.primary{
  background-color: var(--primary);
  color: var(--text);
  border: none;
}
.secondary{
  background-color: var(--gray-200);
  color: --gray-900;
  border: none;
}
.link{
  background-color: transparent;
  color: var(--gray-900);
  border: none;
}